<div class="container">
  <div>
    <div>
      <div class="drag-container drag-container--destination">
        <div class="section-heading">Task List 1</div>
        <div
          cdkDropList
          id="source1"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="['target']"
          class="item-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="item-box item-box--include"
            *ngFor="let item of done"
            cdkDrag
          >
            {{ item }}
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="drag-container drag-container--destination">
        <div class="section-heading">Task List 2</div>

        <div
          cdkDropList
          id="source2"
          [cdkDropListData]="review"
          [cdkDropListConnectedTo]="['target']"
          class="item-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="item-box item-box--exclude"
            *ngFor="let item of review"
            cdkDrag
          >
            {{ item }}
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="drag-container drag-container--destination">
        <div class="section-heading">Task List 3</div>

        <div
          cdkDropList
          id="source3"
          [cdkDropListData]="source3"
          [cdkDropListConnectedTo]="['target']"
          class="item-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="item-box item-box--source3"
            *ngFor="let item of source3"
            cdkDrag
          >
            {{ item }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="drag-container drag-container--origin">
      <div class="section-heading">Completed</div>

      <div
        cdkDropList
        id="target"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="['source1', 'source2', 'source3']"
        class="item-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="item-box" *ngFor="let item of todo" cdkDrag>{{ item }}</div>
      </div>
    </div>
  </div>
</div>
<div>
  <p i18n>The beach stretched out before me, a vast expanse of golden sand glistening in the afternoon sun. The waves danced playfully, their rhythmic crashes creating a soothing symphony. Seagulls circled overhead, their cries echoing in the salty breeze. I could feel the warmth of the sand beneath my toes, and a sense of peace washed over me as I watched the endless horizon.</p>
</div>